page-home {

}
#N{
    background-color: grey;
    float:right;

    text-align:right; font-family: gabriola;font-size:20px;

}
p{color:cyan;
    
}

h1{
    color:cyan;font-family:gabriola;font-size:100px;
}

img{
    border-radius: 50%;

}


.container{
    background-color:pink;

}
